html, body, .main, .onlyrow {
    height: 100%;
}

h1, h2 {
    color: #1B8395;
}

.sidebar {
    height: 100%;
    background-color: #006B2E;
    width: 13.1%
}

.sidebar * {
    color: white;
}
.namebar {
    background-color:#ededed;
    width: 100%; 
}

.modal-form {
    width: 70%;
    text-align: center;
    margin: 0px 15%;
}

form > input {
    margin: 8px 0px 8px 0px;
    width: 100%;
}

.passwordMismatch {
    background-color: red;
}

.promo {
    font-size: 42px;
    color: #1B8395;
}

.capsule-btn {
    border-radius: 2em;
    padding: 10px 20px; 
}

.btn-long {
    width: 100%;
}

.btn-narrow {
    padding: 5px; 10px;
}

.centered {
    text-align: center;
}

.yellow {
    background-color: #F3B719;
    color: white;
}

.blue {
    background-color: #1B8395;
    color: white;
}

.nav > li{
    padding-left: 5px;
    padding-right: 5px;
}

.nav-img {
    margin-top: 12%;
    margin-bottom: 12%;
}

#landingPage {
    background-image: url(/img/snowflake-pattern-blue.png);
    height:100%;
}
#features {
    height:100%;
}
#about{
    height:100%;
}