html, body, .main {
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
    padding: 0px;
}

.onlyrow {
    width: 100%;
}

.view {
    position: absolute;
    display: inline-block;
}

#account-view {
    width: auto;
    min-width: 26%;
}

h1, h2 {
    color: #1B8395;
}


#user-panel {
    max-height: 70px;
}
#user-panel > img{
    width: 25%;
    margin-bottom: 15%;
}
#user-panel > div {
    width: 70%;
}
#user-panel > div > hr {
    margin: -7px 0px 5px 0px;
}
#user-panel > div > span {
    margin-right: 25px;
    font-size: 20px;
}
@media (max-width: 1800px) {
    #user-panel {
        max-width: 200px;
    }
    #user-panel > div > span {
        margin-right: 15px;
        font-size: 18px;
    }
}

.sidebar {
    position: fixed;
    z-index: 1000;
}

@media (min-width: 1800px){
    .sidebar, #lists-sidebar-placeholder {
        width: 13.1%
    }
}

.sidebar * {
    color: white;
}
.sidebar > * {
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidebar > ul {
    margin-top: 0px;
    margin-bottom: 25px;
}
  
#lists-sidebar {
    height: 100% !important;
    background-color: #006B2E;
}
@media (min-width: 768px) {
    .view {
        width: calc(98% - 230px);
    }
    #lists-sidebar-placeholder {
        min-width: 230px;
        height: 100% !important;
        display: inline-block !important;
    }
}
@media (max-width: 768px) {
    .view {
        width: 100%
    }

    .namebar > div > h1 {
        font-size: 21px;
    }
}

.namebar > div {
    margin-left: 20px;
}
.namebar {
    width: 100% ;
    margin-left: -5px;
    background-color:#ededed;
    position:absolute;
    overflow: hidden;
}
#namebar-placeholder {
    height: 175px;
}
@media (max-width: 460px){
    #namebar-placeholder {
        height: 275px;
    }
}

#optional-topbar-placeholder {
    height: 70px;
}
.optional-topbar {
    background-color: #006B2E;
    height: 70px;
}
.optional-topbar > button {
    margin-top: 18px;
    float: left;
}
.optional-topbar > img {
    margin-top: 10px;
    margin-left: -0px
}

.menu-expand {
    background-image: none;
    background-color: transparent;
    padding: 9px 10px;
    border: none;
}
.menu-expand > .icon-bar {
    background-color: white;
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 1px;
}
.menu-expand > .icon-bar + .icon-bar{
    margin-top: 2px;
}

.see-more-list {
    color: #3CAF6D;
    padding: 0px !important;
    margin: 0px !important;
    text-decoration: underline;
}

.no-gutter {
    padding: 0;
}

.add-gutter {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.inlineblock {
    display: inline-block !important;
}

.modal-form {
    width: 70%;
    text-align: center;
    margin: 0px 15%;
}

form > input {
    margin: 8px 0px 8px 0px;
    width: 100%;
}

form > .row, form > div > .row {
    margin-top: 9px;
    margin-bottom: 9px;
}

.passwordMismatch {
    background-color: red;
}

.promo {
    font-size: 42px;
    color: #1B8395;
}

.capsule-btn {
    border-radius: 2em;
    padding: 10px 20px; 
}
.btn-long {
    width: 100%;
}
.btn-narrow {
    padding: 5px 10px;
}
.btn-fat {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.wish-list-item, .friends-list-item {
    background-color: #ededed;
    border: solid 2px #e1e1e1;
    border-radius: 10px;
    max-width: 280px;
    height: 380px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
}
.wish-list-item > .image-frame {
    margin: 8px 6px;
    width:94%;
    height:175px;
    border: inherit;
    overflow: hidden; 
}
.wish-list-item > .image-frame > img, .profile-image-frame > img {
    width:100%;
    border: inherit;
    overflow: hidden; 
}

.friends-list-item > .profile-image-frame {
   width: 50%;
   height: 33%;
   margin: 6px 25%;
}

.profile-image-frame {
    border-radius: 50%;
    border: 7px solid white;
    background-color: white;
    overflow: hidden; 
}

.centered {
    text-align: center;
}

.yellow {
    background-color: #F3B719;
    color: white;
}

.blue {
    background-color: #1B8395;
    color: white;
}

.green {
    background-color: #006B2E;
    color: white;
}

.notes {
    background-color: #FFEFC4;
    width: 100%;
    text-align: left;
}

.nav > li{
    padding-left: 5px;
    padding-right: 5px;
}

.nav-img {
    margin-top: 12%;
    margin-bottom: 12%;
}

#landingPage {
    background-image: url(/img/snowflake-pattern-blue.png);
    height:100%;
}

#features, #about{
    height:100%;
}

#add-friend > .modal-dialog > .modal-content {
    height: 250px;
}

#friend-requests-view > .onlyrow {
    margin-top: 30px;
}
#friend-requests-view  .profile-picture {
    width: 110%;
}
#friend-requests-view .btn-fat {
    width: 100px;
}

#edit-item .inlineblock {
    float: left;
}
#edit-item .imgUpload {
    width: 100%;
}
#edit-item #edit-item-img-filePathBox {
    width: 70%;
    margin-right: 10px;
    margin-bottom: 16px;
}
#edit-item .image-frame {
    background-color: #e1e1e1;
    width: 115px;
    height: 115px;
    margin-bottom: 16px;
    margin-right: 20px;
}
#edit-item img {
    width: 100%;
    height: 100%;
}
#edit-item p {
    padding-top: 45px;
    text-align: left;
}


.active {
    visibility: visible;
}

.inactive {
    visibility: hidden;
}

.profile-picture {
    width: 7%;
    min-width: 80px;

}

.profile-picture > img {
    width: 100%;
    min-width: 80px;
}

.link {
    cursor: pointer;
}

